/* base.css */

/* Styling for the container */
.container {
    margin-top: 20px; /* Adjust the margin top as needed */
}

/* Styling for buttons */
.btn-block {
    margin-top: 10px; /* Adjust the margin top as needed */
}

/* Styling for the product cards */
.card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin: 0;
    color: #333;
}

.card-text {
    margin: 10px 0;
    color: #666;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:hover {
    background-color: #0056b3;
}
