{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home</title>
    <link rel="stylesheet" href="{% static 'main_home.css' %}">
</head>
<body>
    
        <h1>Welcome to the Main Home Page</h1>
        
        <a href="{% url 'registration' %}" class="btn btn-primary">Registration</a><br>
        
        <a href="{% url 'user_login' %}" class="btn btn-primary">Login</a>

    </div>
</body>
</html>



<!-- <div class="container">
        <a class="navbar-brand" href="#">
            
        </a> -->